{% import 'lib.html' as lib %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ exception_class }}: {{ error_message }} | Starception Debugger</title>
    <meta name="viewport" content="width=device-width">
    <style>
        {% include 'styles.css' %}
    </style>
</head>
<body>
<header class="header">
    <div>
        <strong class="exception-class">{{ exception_class }}</strong>
        at {{ request_method }} {{ request_path }}
    </div>
    <div class="exception text-red">{{ error_message|e }}</div>
    {% if solution %}
        <div class="solution">Hint: {{ solution }}</div>
    {% endif %}
</header>
<main>
    <!-- exception block -->
    {% for stack_item in stack %}
        {% if loop.index0 > 0 %}
            <header class="section-header" data-toggle-trace="" data-trace-index="{{ loop.index0 }}">
                Caused by
                <div>
                    <div class="exception text-red">{{ stack_item.exc|e }}</div>
                </div>
            </header>
        {% endif %}
        <div data-trace-target="{{ loop.index0 }}" {% if loop.index0 > 0 %} class="collapsed"{% endif %}>
            {% if loop.index0 > 0 %}
                <div style="padding: 0 48px">
                    {% if stack_item.solution %}
                        <div class="solution" style="margin-top: 8px">Hint: {{ stack_item.solution }}</div>
                    {% endif %}
                </div>
            {% endif %}
            <section class="trace">
                {% for frame in stack_item.frames|reverse %}
                    {% with frame=frame, is_current=loop.first %}
                        {% include 'code_snippet.html' %}
                    {% endwith %}
                {% endfor %}

                <div class="frames">
                    <div style="margin-bottom: 10px">
                        <label class="checkbox">
                            <input type="checkbox" id="vendor-frames" checked> Hide vendor frames
                        </label>
                    </div>
                    {% for frame in stack_item.frames|reverse %}
                        {% with frame=frame, is_current=loop.first %}
                            {% include 'frame_line.html' %}
                        {% endwith %}
                    {% endfor %}
                </div>
            </section>
        </div>
    {% endfor %}

    <!-- request information -->
    <section class="bg-white request-info">
        {{ lib.details_row('Request', request_info, true) }}
        {{ lib.details_row('Headers', request_headers) }}
        {{ lib.details_row('Session', session) }}
        {{ lib.details_row('Cookies', cookies) }}
        {{ lib.details_row('Request state', request_state) }}
        {{ lib.details_row('App state', app_state) }}
        {{ lib.details_row('Platform', platform) }}
        {{ lib.details_row('Environment', environment) }}
    </section>
</main>
<script>
    {% include 'scripts.js' %}
</script>
</body>
</html>
