:root {
    --red: rgb(239 68 68);
    --yellow-lightest: rgb(254 249 195);
    --green: rgb(21 128 61);
    --green-darker: rgb(134 239 172);
    --green-lightest: rgb(220 252 231);
    --gray: rgb(17 24 39);
    --gray-light: rgb(107 114 128);
    --gray-lighter: rgb(229 231 235);
    --gray-lightest: rgb(243 244 246);
}

html,
body {
    font-size: 14px;
    line-height: 1.6;
    background: #fff;
    padding: 0;
    margin: 0;
    color: var(--gray);
    background: var(--gray-lightest);
    font-family: Inter var, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.text-muted {
    color: var(--gray-light);
}

.bg-white {
    background-color: white;
}

pre {
    font-family: consolas, monospace;
    margin: 0;
}

.header {
    padding: 48px 48px 0 48px;
    color: var(--gray-light);
}

.request-info {
    margin-top: 48px;
}

.section-header {
    padding: 8px 48px;
    color: var(--gray-light);
    margin-bottom: 24px;
}

.section-header:hover {
    cursor: pointer;
    background: var(--gray-lighter);
}

.exception-class {
    color: var(--red);
}

.exception {
    font-size: 1.5rem;
    margin-top: 0.625rem;
    color: var(--red);
    font-family: monospace;
}

.solution {
    margin-top: 3rem;
    color: var(--green);
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: .25rem;
    border: 1px solid var(--green-darker);
    background-color: var(--green-lightest);
}

section {
    padding: 24px 48px;
}

section.trace {
    padding-top: 48px;
    padding-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
}

.snippet-wrapper {
    display: none;
}

.snippet-wrapper.current {
    display: block;
}

.snippet {
    background-color: white;
    padding: 0 16px;
}

.snippet header {
    padding: 16px 0;
    border-bottom: 1px solid var(--gray-lightest);
}

.snippet header a {
    text-decoration: none;
    color: inherit;
}

.snippet header a:hover {
    text-decoration: underline;
}

.snippet footer {
    padding: 16px 0;
    border-top: 1px solid var(--gray-lightest);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-light);
}

.snippet pre {
    margin: 2px 0;
    white-space: pre-wrap;
    overflow-x: auto;
    overflow-wrap: anywhere;
}

.snippet .line {
    display: flex;
    overflow-x: auto;
    overflow-wrap: normal;
}

.snippet .line.highlight {
    background-color: var(--yellow-lightest);
}

.snippet .line-number {
    text-align: right;
    width: 48px;
    margin-right: 24px;
    color: var(--gray-light);
    flex-shrink: 0;
}

.snippet .code {
    flex: auto;
    white-space: pre
}

.frames .frame {
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    gap: 12px;
    margin-bottom: 4px;
}

.frames .frame:hover {
    background-color: var(--gray-lighter);
}

.frames .frame.current {
    background-color: white;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: var(--gray-light);
}

.dot-red {
    background-color: var(--red);
}

details {
    margin-bottom: 16px;
}

summary {
    cursor: pointer;
}

dl {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    align-items: start;
    margin: 0;
    padding: 4px;
    border-top: 1px solid var(--gray-lighter);
}

dl:first-of-type {
    margin-top: 16px;
}

dl:hover {
    background-color: var(--gray-lightest);
}

dt {
    color: var(--gray-light);
    text-overflow: ellipsis;
    grid-column: span 2 / span 2;
}

dd {
    flex: auto;
    grid-column: span 10 / span 10;
    overflow-x: auto;
}

.locals {
    padding: 2px;
}

.locals:hover {
    background-color: transparent;
}

.locals dt {
    padding: 2px;
}

.locals dd {
    flex: auto;
    overflow-x: auto;
    padding: 2px 8px;
    background-color: var(--gray-lightest);
}

.open-uri {
    font-weight: bold;
    color: var(--gray);
    text-decoration: none;
}

@media (max-width: 1200px) {
    section {
        padding: 12px 16px;
    }

    section.trace {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    dl {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    dd {
        margin-inline-start: 0px;
    }

    .package-dir {
        display: none;
    }
}

.hidden {
    display: none !important;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.collapsed {
    display: none;
}
