<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="frames">
    <div style="margin-bottom: 10px">
        <label class="checkbox">
            <input type="checkbox" id="vendor-frames" checked=""> Hide vendor frames
        </label>
    </div>


    <div class="frame   current" id="switch-eef2f8bd3b147eceb5a647b44e1bf8db"
         data-frame-index="eef2f8bd3b147eceb5a647b44e1bf8db">
        <div class="dot dot-red"></div>
        <div>
        <span class="text-muted">

                 ·

        </span>
            <span title="/home/alex/projects/_libs/starception/examples/templates/index.html">
            examples/templates/index.html
        <span>
        <span class="text-muted">in</span>
        <span class="symbol">template</span>
        <span class="text-muted">at line</span> 17
    </span></span></div>
    </div>
    {% unknown tag %}

    <div class="frame   hidden vendor" id="switch-577f57c832612e14c0b084c219445f19"
         data-frame-index="577f57c832612e14c0b084c219445f19">
        <div class="dot "></div>
        <div>
        <span class="text-muted">

        </span>
            <span
                title="/home/alex/projects/_libs/starception/.venv/lib/python3.10/site-packages/jinja2/environment.py">
            jinja2/environment.py
        <span>
        <span class="text-muted">in</span>
        <span class="symbol">Environment.handle_exception</span>
        <span class="text-muted">at line</span> 936
    </span></span></div>
    </div>


</div>
</body>
</html>
